<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You have been added to Golden Brown QA Platform</title>
  </head>
  <body>
    Hello {{name}},

    <p>Welcome to the Golden Brown QA Platform as {{role}}</p>

    <p>Please use the following credentials for logging in to our platform,</p>

    <p>
        <b>Username/Email:</b> {{email}}
        <br>
        <b>Password:</b> {{password}}
    </p>

    <p>Thanks.</p>
  </body>
</html>
