<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You have been added to Golden Brown QA Platform</title>
  </head>
  <body style="direction: rtl;">
    مرحبًا {{name}},

    <p>مرحبًا بك في برنامج ضمان الجودة لجولدن براون كـ {{role}}</p>

    <p>يرجى استخدام بيانات الاعتماد التالية لتسجيل الدخول إلى منصتنا،</p>

    <p>
        <b>اسم المستخدم / البريد الإلكتروني:</b> {{email}}
        <br>
        <b>كلمة المرور:</b> {{password}}
    </p>

    <p>شكرا.</p>
  </body>
</html>
